body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  padding: 15px;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

video {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
}
